@import "../../../assets/scss/theme_variables.scss";
@media (max-width:767px) {
    .nav-container {
        z-index: 99999;
        margin: 0px;
        padding: 15px;
        position: sticky !important;
        top: 0px;
    }

    .container-fluid {
        background-color: white !important;
    }

    .collapse,
    #navbarSupportedContent {
        background-color: white !important;
    }
 
}

.navbar {
    position: sticky !important;
    top: 0px;
    z-index: 9;
    background-color: rgb(241, 242, 243) !important;
}
.container-fluid{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-container{
    background-image: linear-gradient(40deg, transparent 25%, $theme-color 10%);
    color: white;
}


// $gradient-color1: rgb(28,121,172);
// $gradient-color2: rgb(50,202,155);

// $gradient-color-faint1: rgba(28, 122, 172);
// $gradient-color-faint2: rgba(50, 202, 154);