<div class="container-fluid homeInputSection ">
    <!-- <div class="change-tap btn" >
        {{div.name}}
    </div> -->

    <div class="row w-100 background-img-home">
        <div class="content w-md-100 shadow">
            <div class="type-tabs shadow">
                <div class="tabs text-center" *ngFor="let div of divs"
                    (click)="toggleDiv(div.id); setActiveButton(div.id)" [class.active]="div.active">
                    {{ div.name }}
                </div>
            </div>
            <div [ngSwitch]="true" class="tabs">

                <div *ngSwitchCase="divs[0].show">
                    <form [formGroup]="localRentalForm" (submit)="submitLocalRent()">
                        <div class="row px-md-4 pt-md-3">
                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup City</mat-label>
                                <mat-form-field class="example-full-width w-100 ">
                                    <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                        [matAutocomplete]="localPickCityAuto" required
                                        (blur)="validate_selected_city($event, 'local')">
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #localPickCityAuto="matAutocomplete">
                                        <mat-option *ngFor="let city of localPickupCities | async" [value]="city.city"
                                            (click)="select_city_by_click(city, 'local')">
                                            {{ city.city }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please select pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="localPickupDate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="localPickupDate.open()"
                                        (click)="localPickupDate.open()" [min]="TodaysDate"
                                        (dateChange)="getTime('local_rental')">
                                    <mat-datepicker #localPickupDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please select pickup date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please select pickup time</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngSwitchCase="divs[1].show">
                    <div class="row px-md-4 pt-md-2">
                        <div class="col-md-12">
                            <div class="outstation-tabs">
                                <div class="tabs" *ngFor="let div of outstationTabs"
                                    (click)="toggleForms(div.id); setActiveForm(div.id)" [class.active]="div.active">
                                    {{ div.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="outstationTabs[0].show">
                        <form [formGroup]="onewayForm" (submit)="submitOneWay()">
                            <div class="row px-md-4 pt-md-1">

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                            [matAutocomplete]="oneWayPickCityAuto" required
                                            (blur)="validate_selected_city($event, 'oneway_pickup');">
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #oneWayPickCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of oneWayPickupCities | async"
                                                [value]="city.city"
                                                (click)="select_city_by_click(city, 'oneway_pickup'); getOnewayDropcities()">
                                                {{ city.city }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select pickup city</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Drop City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="dropCity" placeholder="Pickup City"
                                            [matAutocomplete]="OneWayDropCityAuto" required
                                            (blur)="validate_selected_city($event, 'oneway_drop')">
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #OneWayDropCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of oneWayDropCities | async"
                                                [value]="city.city" (click)="select_city_by_click(city, 'oneway_drop')">
                                                {{ city.city }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select drop city</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="OneWayPickUpDate" formControlName="pickupDate"
                                            placeholder="Pickup Date" (focus)="OneWayPickUpDate.open()"
                                            (click)="OneWayPickUpDate.open()" [min]="TodaysDate"
                                            (dateChange)="getTime('one_way')">
                                        <mat-datepicker #OneWayPickUpDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="outstationTabs[1].show">
                        <form [formGroup]="roundtripForm" (submit)="submitRoundTrip()">
                            <div class="row px-md-4 pt-md-1">
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                            [matAutocomplete]="RoundTripPickupCityAuto" required
                                            (blur)="validate_selected_city($event, 'round_pickup')">
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #RoundTripPickupCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of RoundTripPickupCities | async"
                                                [value]="city.city"
                                                (click)="select_city_by_click(city, 'round_pickup')">
                                                {{ city.city }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select pickup city</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="RoundTripPickupDate"
                                            formControlName="pickupDate" placeholder="Pickup Date"
                                            (focus)="RoundTripPickupDate.open()" (click)="RoundTripPickupDate.open()"
                                            [min]="TodaysDate" (dateChange)="getTime('round_trip')">
                                        <mat-datepicker #RoundTripPickupDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="returnCity" placeholder="Return City" required
                                            id="HomeRoundReturnCity" #HomeRoundReturnCity
                                            (keypress)="callExternalFunction(HomeRoundReturnCity)"
                                            (blur)="getResponse('HomeRoundReturnCity', 'round_trip')">
                                        <mat-error>please select return city</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="outstationReturnDate"
                                            formControlName="returnDate" placeholder="Return Date"
                                            (focus)="outstationReturnDate.open()" (click)="outstationReturnDate.open()"
                                            [min]="roundtripForm.value.pickupDate">
                                        <mat-datepicker #outstationReturnDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please choose return date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div *ngSwitchCase="outstationTabs[2].show">
                        <form [formGroup]="multicityForm" (submit)="submitMultiCity(AddMultiCityModal2)">
                            <div class="row px-md-4 pt-md-1">
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="multiCityPickupDateAuto"
                                            formControlName="pickupDate" placeholder="Pickup Date"
                                            (focus)="multiCityPickupDateAuto.open()"
                                            (click)="multiCityPickupDateAuto.open()" [min]="TodaysDate"
                                            (dateChange)="getTime('multi_city')">
                                        <mat-datepicker #multiCityPickupDateAuto></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="multiCityReturnDate"
                                            formControlName="returnDate" placeholder="Return Date"
                                            (focus)="multiCityReturnDate.open()" (click)="multiCityReturnDate.open()"
                                            [min]="multicityForm.value.pickupDate">
                                        <mat-datepicker #multiCityReturnDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please choose return date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Add City</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>

                <div *ngSwitchCase="divs[2].show">
                    <form [formGroup]="airportForm" (submit)="submitAirport()">
                        <div class="row px-md-4 pt-md-3">

                            <div class="col-md-4">
                                <mat-label class="input-labels">Trip Type</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="trip_type" placeholder="Trip Type">
                                        <mat-option value="0"> Pickup From Airport </mat-option>
                                        <mat-option value="1"> Drop To Airport </mat-option>
                                    </mat-select>
                                    <mat-error>please choose time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Airport</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="pickup_airport" placeholder="Select Airport"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-plane"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-label class="input-labels">Drop Location</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="drop_location" placeholder="Drop Location"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="airportPickupDate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="airportPickupDate.open()"
                                        (click)="airportPickupDate.open()" [min]="TodaysDate"
                                        (dateChange)="getTime('airport')">
                                    <mat-datepicker #airportPickupDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please choose time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer-link pb-md-2">
                <div class="row px-md-4">
                    <a (click)="openFareDetails(fareDetails)">Can't find what you need ? </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid  my-4 p-md-5 shadow pt-3 mt-0" style="border-radius: 30px;">
    <h3 class="text-center m-2">Make Your Travel Easy With Fleet24x7</h3>

    <div class="owl-carousel owl-theme p-4">
        <div class="item" *ngFor="let data of slidesStore;">
            <div class="contentBox">
                <img [src]="data.src">
                <p class="carousel-heading "> {{ data.title }} </p>
                <div class="hoveredtext">
                    <p> {{ data.discription }}
                        <button class="goToBtn btn mt-2" (click)="toggleDiv(data.id); setActiveButton(data.id)"
                            [class.active]="data.active"> Book Now </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  my-3 shadow whyUs">
    <h3 class="text-center m-2"> Why Choose Us ? </h3>
    <p class="text-center">We offer competitive rates, hotels picked according to your needs, and different options
        available depending on what you're looking for.</p>
    <div class="row m-5 p-5 mt-0 pt-0 pb-0">
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/Safety.png">
                </div>
                <div class="card-body text-center">
                    <h3>Safety</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/Privacy.png"
                        alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Privacy</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/budget.png"
                        alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Budget friendly</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-3 shadow FleetFeatures">
    <div class="backgroundWallah">
        <div class="w-100">
            <h2 class="text-center">Fleet24x7 Features</h2>
            <div class="features-tab">
                <div class="row">
                    <div class="col-md-2 cards" *ngFor="let da of FleetFeatures;">
                        <div class="img w-100 ">
                            <img [src]="da.img">
                        </div>
                        <div class="text w-100 text-center">
                            <div class="w-100 h-100">
                                <span> {{ da.name }} </span> <br>
                                <span> {{ da.name2 }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5 mt-2 shadow getInTouch ">
    <div class="row mx-md-5 py-md-3">
        <div class="col-md-12">
            <h2 class="text-center">Get In Touch</h2>
        </div>
        <div class="col-md-6 ">
            <div class="card p-md-3">
                <div class="card-body">
                    <span>Any Questions ? </span>
                    <img
                        src="https://www.fleet247.in/retail_assets/images/fleet-assets/get-in-touch-assets/Any%20Questions%20SCREEN%203-01.svg">
                </div>
                <div class="card-footer">
                    <div class="row m-0 p-0">

                        <div class="col-md-8">
                            <p class="headline">Any Questions ?</p>
                            <span class="paragraph">Check out the common questions about our Platform</span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn cardBtn"> Read Our FAQ </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card p-md-3">
                <div class="card-body">
                    <span>Lets connect </span>
                    <img
                        src="https://www.fleet247.in/retail_assets/images/fleet-assets/get-in-touch-assets/Lets%20Connect%20SCREEN%20SVG%203-01.svg">
                </div>
                <div class="card-footer">
                    <div class="row m-0 p-0">

                        <div class="col-md-8">
                            <p class="headline">Let's Connect</p>
                            <span class="paragraph">Ask us anything about Fleet24x7 or just say Hello !! </span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn cardBtn"> Contact Us </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Special Form Modal -->
<ng-template #fareDetails let-modal>
    <div class="modal-header p-2 ps-4 pe-4">
        <h6 class="modal-title" id="myLargeModalLabel"> Query Form </h6>
        <h6 type="button" (click)="modalRef?.hide()" class="btn-close"></h6>
    </div>
    <div class="modal-body fareDetails">
        <table class="table table-bordered">
            <tr>
                <td class="pt-4">
                    <p> <b style="color: rgb(31, 31, 31);"> Additional Charges To Be Charged Extra </b>
                    <p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>GST </p>
                </td>
                <td>
                    <p> <b> To be Charged 5% on applicable fare </b> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> Toll Tax/State Tax/Parking </p>
                </td>
                <td>
                    <p> <b> Charged on actual basis </b> </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h6 class="m-0">Note:</h6>
                    <span class="p-0">
                        <ul>
                            <li>
                                <p> Please note that the fare provided is an estimate and may vary based on
                                    actual travel conditions. </p>
                            </li>
                            <li>
                                <p> Night charges, where applicable, will be added to your total fare. </p>
                            </li>
                            <li>
                                <p> The operator initially determines the fares, which are subject to change at
                                    the operator's discretion. </p>
                            </li>
                            <li>
                                <p> All distances and times are calculated from the garage's location at the
                                    start of the journey to its return. </p>
                            </li>
                        </ul>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <!-- <div class="modal-footer">
            <div class="row w-100">
                <div class="col-12 text-end">
                    <button class="btn btn-danger" type="button" (click)="modalRef?.hide()">Close</button>
                </div>
            </div>
        </div> -->
</ng-template>

<!-- Multi City Modal -->
<ng-template #AddMultiCityModal let-modal>
    <form [formGroup]="multipleCityForm" (submit)="submitMultiCityForm()" autocomplete="off">
        <div class="modal-header p-2 ps-4 pe-4">
            <h6 class="modal-title" id="myLargeModalLabel"> Add Cities </h6>
            <h6 type="button" (click)="modalRef?.hide()" class="btn-close"></h6>
        </div>
        <div class="modal-body fareDetails">
            <div class="row">

                <!-- To City Starts -->
                <div class="col-md-5">
                    <mat-label class="input-labels">Pickup City</mat-label>
                    <mat-form-field class="example-full-width w-100 ">
                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                            [matAutocomplete]="multicityPickupAuto" required
                            (blur)="validate_selected_city($event, 'multi_city')">
                        <!-- <mat-icon matSuffix class="fa fa-search"> </mat-icon> -->
                        <mat-autocomplete #multicityPickupAuto="matAutocomplete" style="z-index: 99999 !important;">
                            <mat-option *ngFor="let city of multiCityTripCities | async" [value]="city.city"
                                (click)="select_city_by_click(city, 'multi_city')">
                                {{ city.city }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>please select pickup city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-label class="input-labels">To City</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="toCity" placeholder="To City" required
                            id="multicity_toCity" #multicity_toCity
                            (keypress)="callExternalFunction(multicity_toCity)"
                            (blur)="getResponse('multicity_toCity', 'multi_city_tocity')">
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button class="btn grad-btn" (click)="addNewInput()" *ngIf="!multipleCityForm.contains('city2') || !multipleCityForm.contains('city3') || !multipleCityForm.contains('city3') || !multipleCityForm.contains('city4') || !multipleCityForm.contains('city5')"><i class="fa fa-plus"></i></button>
                </div>
                <!-- To City Ends -->
            

                <!-- City 2 -->
                <div class="col-md-5" *ngIf="multipleCityForm.contains('city2') || multipleCityForm.contains('city3') || multipleCityForm.contains('city3') || multipleCityForm.contains('city4') || multipleCityForm.contains('city5')">
                    <mat-label class="input-labels">Next Intermediate City ( To City Readonly )</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="toCity" placeholder="To City" required readonly>
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5" *ngIf="multipleCityForm.contains('city2')">
                    <mat-label class="input-labels">Next Intermediate City ( City 2 )</mat-label>   
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="city2" placeholder="To City" required
                            id="multicity_city2" #multicity_city2
                            (keypress)="getGooglePlaceForMulticity(multicity_city2, 'city2')"
                            (blur)="getResponse('multicity_city2', 'city2')">
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="multipleCityForm.contains('city2')">
                    <button *ngIf="multipleCityForm.contains('city2')"  class="btn btn-danger" (click)="removeInput('city2')" > <i class="fa fa-times"></i> </button>&nbsp;&nbsp;<button *ngIf="multipleCityForm.contains('city2') && !multipleCityForm.contains('city3')" class="btn grad-btn " (click)="addNewInput()" > <i class="fa fa-plus"></i> </button>
                </div>
                <!-- City 2 Ends -->

                <!-- City 3 Starts -->

                <div class="col-md-5" *ngIf="multipleCityForm.contains('city2') && multipleCityForm.contains('city3')">
                    <mat-label class="input-labels">Next Intermediate City ( City 2 readonly )</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="city2" placeholder="City 3 Readonly" required readonly>
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5" *ngIf="multipleCityForm.contains('city3')">
                    <mat-label class="input-labels">Next Intermediate City ( City 3 )</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="city3" placeholder="To City" required
                            id="multicity_city3" #multicity_city3
                            (keypress)="getGooglePlaceForMulticity(multicity_city3, 'city3')"
                            (blur)="getResponse('multicity_city3', 'city3')">
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button *ngIf="multipleCityForm.contains('city3')" class="btn btn-danger" (click)="removeInput('city3')" > <i class="fa fa-times"></i> </button>&nbsp;&nbsp;<button *ngIf="multipleCityForm.contains('city3') && !multipleCityForm.contains('city4')" class="btn grad-btn " (click)="addNewInput()" > <i class="fa fa-plus"></i> </button>
                </div>

                
                <div class="col-md-5" *ngIf="multipleCityForm.contains('city4') || multipleCityForm.contains('city5')">
                    <mat-label class="input-labels">Next Intermediate City ( City 3 readonly )</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="city2" placeholder="To City" required readonly>
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5" *ngIf="multipleCityForm.contains('city4')">
                    <mat-label class="input-labels">Next Intermediate City ( City 4 )</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="city4" placeholder="To City" required
                            id="multicity_city4" #multicity_city4
                            (keypress)="getGooglePlaceForMulticity(multicity_city4, 'city4')"
                            (blur)="getResponse('multicity_city4', 'city4')">
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2" >
                    <button *ngIf="multipleCityForm.contains('city4')" class="btn btn-danger" (click)="removeInput('city4')" > <i class="fa fa-times"></i> </button>&nbsp;&nbsp;<button *ngIf="multipleCityForm.contains('city4') && !multipleCityForm.contains('city5')" class="btn grad-btn " (click)="addNewInput()" > <i class="fa fa-plus"></i> </button>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100">
                <div class="col-12 text-end">
                    <button class="btn grad-btn" type="submit" (click)="modalRef?.hide()">Search</button>
                </div>
            </div>
        </div>
    </form>

</ng-template>

<ng-template #AddMultiCityModal2 let-modal>
    <form [formGroup]="multipleCityForm" (submit)="submitMultiCityForm()" autocomplete="off">
        <div class="modal-header p-2 ps-4 pe-4">
            <h6 class="modal-title" id="myLargeModalLabel"> Add Cities 2 </h6>
            <h6 type="button" (click)="modalRef?.hide()" class="btn-close"></h6>
        </div>
        <div class="modal-body fareDetails">
            <div class="row">
                <div class="col-md-12">
                    <p>From City</p> To @for (item of $multicityArray; track $index) {
                        {{ item + " > " }}
                    }
                </div>
                <div class="col-md-5">
                    <mat-label class="input-labels">Pickup City</mat-label>
                    <mat-form-field class="example-full-width w-100 ">
                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                            [matAutocomplete]="multicityPickupAuto" required
                            (blur)="validate_selected_city($event, 'multi_city')">
                        <!-- <mat-icon matSuffix class="fa fa-search"> </mat-icon> -->
                        <mat-autocomplete #multicityPickupAuto="matAutocomplete" style="z-index: 99999 !important;">
                            <mat-option *ngFor="let city of multiCityTripCities | async" [value]="city.city"
                                (click)="select_city_by_click(city, 'multi_city')">
                                {{ city.city }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>please select pickup city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-label class="input-labels">To City</mat-label>
                    <mat-form-field class="example-full-width w-100 foe">
                        <input matInput formControlName="toCity" placeholder="To City" required
                            id="multicity_toCity" #multicity_toCity
                            (keypress)="callExternalFunction(multicity_toCity)"
                            (blur)="getResponse('multicity_toCity', 'multi_city_tocity')">
                        <mat-error>please select to city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button class="btn grad-btn" (click)="addNewMulticity()"><i class="fa fa-plus"></i></button>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100">
                <div class="col-12 text-end">
                    <button class="btn grad-btn" type="submit" (click)="modalRef?.hide()">Search</button>
                </div>
            </div>
        </div>
    </form>

</ng-template>