<div class="container-fluid homeInputSection ">
    <!-- <div class="change-tap btn" >
        {{div.name}}
    </div> -->

    <div class="row w-100 background-img-home">
        <div class="content w-md-100 shadow">
            <div class="type-tabs shadow">
                <div class="tabs text-center" *ngFor="let div of divs"
                    (click)="toggleDiv(div.id); setActiveButton(div.id)" [class.active]="div.active">
                    {{ div.name }}
                </div>
            </div>
            <div [ngSwitch]="true" class="tabs">

                <div *ngSwitchCase="divs[0].show">
                    <form [formGroup]="localRentalForm" (submit)="submitLocalRent()">
                        <div class="row px-md-4 pt-md-3">
                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup City</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                        [matAutocomplete]="localPickCityAuto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #localPickCityAuto="matAutocomplete" >
                                        <mat-option *ngFor="let city of localPickupCities | async" [value]="city.city_name">
                                            {{ city.city_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please select pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="localPickupDate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="localPickupDate.open()"
                                        (click)="localPickupDate.open()" [min]="TodaysDate"
                                        (dateChange)="getTime('local_rental')">
                                    <mat-datepicker #localPickupDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please select pickup date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please select pickup time</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngSwitchCase="divs[1].show">
                    <div class="row px-md-4 pt-md-2">
                        <div class="col-md-12">
                            <div class="outstation-tabs">
                                <div class="tabs" *ngFor="let div of outstationTabs"
                                    (click)="toggleForms(div.id); setActiveForm(div.id)" [class.active]="div.active">
                                    {{ div.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="outstationTabs[0].show">
                        <form [formGroup]="onewayForm" (submit)="submitOneWay()">
                            <div class="row px-md-4 pt-md-1">

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                            [matAutocomplete]="oneWayPickCityAuto" required>
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #oneWayPickCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of oneWayPickupCities | async" [value]="city.Name">
                                                {{ city.Name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select pickup city</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Drop City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="dropCity" placeholder="Pickup City"
                                            [matAutocomplete]="OneWayDropCityAuto" required>
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #OneWayDropCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of oneWayDropCities | async" [value]="city.Name">
                                                {{ city.Name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select drop city</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="OneWayPickUpDate"
                                            formControlName="pickupDate" placeholder="Pickup Date"
                                            (focus)="OneWayPickUpDate.open()" (click)="OneWayPickUpDate.open()"
                                            [min]="TodaysDate" (dateChange)="getTime('one_way')">
                                        <mat-datepicker #OneWayPickUpDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="outstationTabs[1].show">
                        <form [formGroup]="roundtripForm" (submit)="submitRoundTrip()">
                            <div class="row px-md-4 pt-md-1">
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                            [matAutocomplete]="RoundTripPickupCityAuto" required>
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #RoundTripPickupCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of RoundTripPickupCities | async" [value]="city.Name">
                                                {{ city.Name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please select pickup city</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="RoundTripPickupDate"
                                            formControlName="pickupDate" placeholder="Pickup Date"
                                            (focus)="RoundTripPickupDate.open()" (click)="RoundTripPickupDate.open()"
                                            [min]="TodaysDate" (dateChange)="getTime('round_trip')">
                                        <mat-datepicker #RoundTripPickupDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return City</mat-label>
                                    <mat-form-field class="example-full-width w-100 foe">
                                        <input matInput formControlName="returnCity" placeholder="Return City"
                                            [matAutocomplete]="RoundTripReturnCityAuto" required>
                                        <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                        <mat-autocomplete #RoundTripReturnCityAuto="matAutocomplete">
                                            <mat-option *ngFor="let city of RoundTripDropCities | async" [value]="city.Name">
                                                {{ city.Name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>please choose return city</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="outstationReturnDate"
                                            formControlName="returnDate" placeholder="Return Date"
                                            (focus)="outstationReturnDate.open()" (click)="outstationReturnDate.open()"
                                            [min]="outstationForm.value.pickupDate">
                                        <mat-datepicker #outstationReturnDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please choose return date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="outstationTabs[2].show">
                        <form [formGroup]="multicityForm" (submit)="submitMultiCity()">
                            <div class="row px-md-4 pt-md-1">
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="multiCityPickupDateAuto"
                                            formControlName="pickupDate" placeholder="Pickup Date"
                                            (focus)="multiCityPickupDateAuto.open()" (click)="multiCityPickupDateAuto.open()"
                                            [min]="TodaysDate" (dateChange)="getTime('multi_city')">
                                        <mat-datepicker #multiCityPickupDateAuto></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please select pickup date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Pickup Time</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                            <mat-option *ngIf="timesData==''" disabled> Please Change the Date
                                            </mat-option>
                                            @for(time of timesData; track time){
                                            <mat-option [value]="time"> {{ time }}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>please select pickup time</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="input-labels">Return Date</mat-label>
                                    <mat-form-field class="example-full-width w-100">
                                        <input matInput [matDatepicker]="multiCityReturnDate"
                                            formControlName="returnDate" placeholder="Return Date"
                                            (focus)="multiCityReturnDate.open()" (click)="multiCityReturnDate.open()"
                                            [min]="outstationForm.value.pickupDate">
                                        <mat-datepicker #multiCityReturnDate></mat-datepicker>
                                        <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                        <mat-error>please choose return date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                    <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngSwitchCase="divs[2].show">
                    <form [formGroup]="airportForm" (submit)="submitAirport()">
                        <div class="row px-md-4 pt-md-3">

                            <div class="col-md-4">
                                <mat-label class="input-labels">Trip Type</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="trip_type" placeholder="Trip Type">
                                        <mat-option value="pickup_from_airport"> Pickup From Airport </mat-option>
                                        <mat-option value="drop_to_airport"> Drop To Airport </mat-option>
                                    </mat-select>
                                    <mat-error>please choose time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Airport</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="pickup_airport" placeholder="Select Airport"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-plane"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-label class="input-labels">Drop Location</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="drop_location" placeholder="Drop Location"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="airportPickupDate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="airportPickupDate.open()"
                                        (click)="airportPickupDate.open()" [min]="TodaysDate"
                                        (dateChange)="getTime('airport')">
                                    <mat-datepicker #airportPickupDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please choose time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer-link pb-md-2">
                <div class="row px-md-4">
                    <a>Can't find what you need ? </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid  my-4 p-md-5 shadow pt-3 mt-0" style="border-radius: 30px;">
    <h3 class="text-center m-2">Make Your Travel Easy With Fleet24x7</h3>

    <div class="owl-carousel owl-theme p-4">
        <div class="item" *ngFor="let data of slidesStore;">
            <div class="contentBox">
                <img [src]="data.src">
                <p class="carousel-heading "> {{ data.title }} </p>
                <div class="hoveredtext">
                    <p> {{ data.discription }}
                        <button class="goToBtn btn mt-2" (click)="toggleDiv(data.id); setActiveButton(data.id)"
                            [class.active]="data.active"> Book Now </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  my-3 shadow whyUs">
    <h3 class="text-center m-2"> Why Choose Us ? </h3>
    <p class="text-center">We offer competitive rates, hotels picked according to your needs, and different options
        available depending on what you're looking for.</p>
    <div class="row m-5 p-5 mt-0 pt-0 pb-0">
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/Safety.png">
                </div>
                <div class="card-body text-center">
                    <h3>Safety</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/Privacy.png"
                        alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Privacy</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/budget.png"
                        alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Budget friendly</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-3 shadow FleetFeatures">
    <div class="backgroundWallah">
        <div class="w-100">
            <h2 class="text-center">Fleet24x7 Features</h2>
            <div class="features-tab">
                <div class="row">
                    <div class="col-md-2 cards" *ngFor="let da of FleetFeatures;">
                        <div class="img w-100 ">
                            <img [src]="da.img">
                        </div>
                        <div class="text w-100 text-center">
                            <div class="w-100 h-100">
                                <span> {{ da.name }} </span> <br>
                                <span> {{ da.name2 }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5 mt-2 shadow getInTouch ">
    <div class="row mx-md-5 py-md-3">
        <div class="col-md-12">
            <h2 class="text-center">Get In Touch</h2>
        </div>
        <div class="col-md-6 ">
            <div class="card p-md-3">
                <div class="card-body">
                    <span>Any Questions ? </span>
                    <img
                        src="https://www.fleet247.in/retail_assets/images/fleet-assets/get-in-touch-assets/Any%20Questions%20SCREEN%203-01.svg">
                </div>
                <div class="card-footer">
                    <div class="row m-0 p-0">

                        <div class="col-md-8">
                            <p class="headline">Any Questions ?</p>
                            <span class="paragraph">Check out the common questions about our Platform</span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn cardBtn"> Read Our FAQ </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card p-md-3">
                <div class="card-body">
                    <span>Lets connect </span>
                    <img
                        src="https://www.fleet247.in/retail_assets/images/fleet-assets/get-in-touch-assets/Lets%20Connect%20SCREEN%20SVG%203-01.svg">
                </div>
                <div class="card-footer">
                    <div class="row m-0 p-0">

                        <div class="col-md-8">
                            <p class="headline">Let's Connect</p>
                            <span class="paragraph">Ask us anything about Fleet24x7 or just say Hello !! </span>
                        </div>
                        <div class="col-md-4">
                            <button class="btn cardBtn"> Contact Us </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>