<div class="container-fluid homeInputSection ">
    <!-- <div class="change-tap btn" >
        {{div.name}}
    </div> -->

    <div class="row w-100 background-img-home">
        <div class="content w-md-100 shadow">
            <div class="type-tabs shadow">
                <div class="tabs text-center" *ngFor="let div of divs"
                    (click)="toggleDiv(div.id); setActiveButton(div.id)" [class.active]="div.active">
                    {{ div.name }}
                </div>
            </div>
            <div [ngSwitch]="true" class="tabs pb-md-3">

                <div *ngSwitchCase="divs[0].show">
                    <form [formGroup]="localRentalForm" (submit)="submitLocalRent()">
                        <div class="row p-md-4">
                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup City</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="localPickupDate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="localPickupDate.open()"
                                        (click)="localPickupDate.open()" [min]="TodaysDate"
                                        (dateChange)="generateTimes('localRentalForm')">
                                    <mat-datepicker #localPickupDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose pickup date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please choose pickup time</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 d-none d-md-block"></div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngSwitchCase="divs[1].show">
                    <form [formGroup]="outstationForm" (submit)="submitLocalRent()">
                        <div class="row p-md-4">

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup City</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="pickupCity" placeholder="Pickup City"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose pickup city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="outstationPickupdate" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="outstationPickupdate.open()"
                                        (click)="outstationPickupdate.open()" [min]="TodaysDate"
                                        (dateChange)="generateTimes('outstationForm')">
                                    <mat-datepicker #outstationPickupdate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose pickup date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please choose pickup time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-label class="input-labels">Return City</mat-label>
                                <mat-form-field class="example-full-width w-100 foe">
                                    <input matInput formControlName="returnCity" placeholder="Return City"
                                        [matAutocomplete]="auto" required>
                                    <mat-icon matSuffix class="fa fa-search"> </mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let city of filteredCities | async" [value]="city.Name">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>please choose return city</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Return Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="outstationReturnDate" formControlName="returnDate"
                                        placeholder="Return Date" (focus)="outstationReturnDate.open()"
                                        (click)="outstationReturnDate.open()" [min]="outstationForm.value.pickupDate">
                                    <mat-datepicker #outstationReturnDate></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose return date</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 mt-md-4 text-end" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngSwitchCase="divs[2].show">
                    <form [formGroup]="multicityForm" (submit)="submitLocalRent()">
                        <div class="row p-md-4">

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="multicityPickup" formControlName="pickupDate"
                                        placeholder="Pickup Date" (focus)="multicityPickup.open()"
                                        (click)="multicityPickup.open()" [min]="TodaysDate"
                                        (dateChange)="generateTimes('multicityForm')">
                                    <mat-datepicker #multicityPickup></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Time</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <mat-select formControlName="pickupTime" placeholder="Pickup Time">
                                        <mat-option *ngIf="timesData==''" disabled> Please Change the Date </mat-option>
                                        @for(time of timesData; track time){
                                        <mat-option [value]="time"> {{ time }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>please choose time</mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-md-4">
                                <mat-label class="input-labels">Pickup Date</mat-label>
                                <mat-form-field class="example-full-width w-100">
                                    <input matInput [matDatepicker]="picker" formControlName="returnDate"
                                        placeholder="Pickup Date" (focus)="picker.open()" (click)="picker.open()"
                                        [min]="TodaysDate" (dateChange)="generateTimes('multicityForm')">
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-icon matSuffix class="fa fa-calendar"> </mat-icon>
                                    <mat-error>please choose date</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 d-none d-md-block mt-4"></div>
                            <div class="col-md-4 d-none d-md-block mt-4"></div>
                            <div class="col-md-4 text-end mt-4" style="margin-bottom: 20px;">
                                <button type="submit" class="btn btn-search-cab w-100">Search Cabs</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="container-fluid  my-4 p-md-5 shadow pt-3 mt-0" style="border-radius: 30px;">
    <h3 class="text-center m-2">Make Your Travel Easy With Fleet24x7</h3>

    <div class="owl-carousel owl-theme p-4">
        <div class="item" *ngFor="let data of slidesStore;">
            <div class="contentBox">
                <img [src]="data.src">
                <p class="carousel-heading "> {{ data.title }} </p>
                <div class="hoveredtext">
                    <p> {{ data.discription }}
                        <button class="goToBtn btn mt-2" (click)="toggleDiv(data.id); setActiveButton(data.id)"
                            [class.active]="data.active"> Book Now </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  my-3 shadow whyUs">
    <h3 class="text-center m-2"> Why Choose Us ? </h3>
    <p class="text-center">We offer competitive rates, hotels picked according to your needs, and different options
        available depending on what you're looking for.</p>
    <div class="row m-5 p-5 mt-0 pt-0 pb-0">
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/safety-8.png">
                </div>
                <div class="card-body text-center">
                    <h3>Safety</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/privacy-8.png" alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Privacy</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card whToChooseUs">
                <div class="card-header text-center p-md-4">
                    <img src="https://fleet247.in/retail_assets/images/fleet-assets/why_choose_us_assets/budget-8.png" alt="">
                </div>
                <div class="card-body text-center">
                    <h3>Budget friendly</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-3 shadow FleetFeatures">
    <div class="backgroundWallah"> <br>
        <h1 class="text-center">Fleet24x7 Features</h1>
        <div class="features-tab">
            <div class="row">
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/Transparent%20Pricing.png">
                    </div>
                    <div class="text h-50 w-100">
                        <p>Transparent Pricing</p>
                    </div>
                </div>
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/Dedicated%20Relationship%20Manager.png">
                    </div>
                    <div class="text h-50 w-100">
                        Dedicated Relationship Manager
                    </div>
                </div>
                
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/Quality%20Vehicles.png">
                    </div>
                    <div class="text h-50 w-100">
                        <p>Quality Vehicles</p>
                    </div>
                </div>
                
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/24x7%20Support.png">
                    </div>
                    <div class="text h-50 w-100">
                        <p>Support</p>
                    </div>
                </div>
                
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/Countrywide%20Reach.png">
                    </div>
                    <div class="text h-50 w-100">
                        <p>Countrywide Reach</p>
                    </div>
                </div>
                
                <div class="col-md-2 cards">
                    <div class="img h-50 w-100 ">
                        <img src="https://www.fleet247.in/retail_assets/images/fleet-assets/features-assets/ProffesionallyTrained%20Drivers.png">
                    </div>
                    <div class="text h-50 w-100">
                        <p>Professionally Trained Drivers</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>