@import './assets/scss/all_imports.scss';
@import '../node_modules/ngx-owl-carousel-2/lib/styles/scss/owl.carousel.scss';
@import '../node_modules/ngx-owl-carousel-2/lib/styles/scss/owl.theme.default.scss';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* You can add global styles to this file, and also import other style files */
.shadow {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
    padding-bottom: 3px;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



// Sweet Alert Css
.swal2-confirm {
    height: 33px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}