<div class="container-fluid  m-0 p-0">
    <div class="row p-5 w-100">
        <div class="col-md-12 content-contianer">
            <div class="btns-container">
                <div class="ticket-buttons">Signout</div>
                <div class="ticket-buttons">Download Voucher</div>
                <div class="ticket-buttons" routerLink="/profile">Go to Profile</div>
                <div class="ticket-buttons" routerLink="/">Make New Booking</div>
            </div>
        </div>
        <div class="col-md-12 content-contianer mt-2">
            <div class="ticket-container">
                <div class="booking-confirmed">
                    <div class="outer">
                        <div class="inner">
                            <div class="top left corner"></div>
                            <div class="top right corner"></div>
                            <div class="content">
                                <div class="row p-0 m-0">
                                    <div class="col-12 text-center mt-3">
                                        <i class="fas fa-check text-white"></i>
                                        <p class="fs-5 text-center text-white text-bold mt-2">Booking Confirmed !</p>
                                        <p class="message-lines">Dear Madan Ghodechor, your advance payment has been
                                            received by
                                            Fleet24x7.</p>
                                        <p class="message-lines">Your journey is confirmed. The details of the driver
                                            and car shall be shared
                                            4hrs
                                            before the pickup time</p>
                                    </div>
                                </div>

                            </div>
                            <div class="bottom right corner"></div>
                            <div class="bottom left corner"></div>
                        </div>
                    </div>
                </div>
                <div class="ticket">
                    <div class="outer">
                        <div class="inner">
                            <div class="top left corner"></div>
                            <div class="top right corner"></div>
                            <div class="content">
                                <div class="da">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="fs-6 pt-4"
                                                style="color: rgb(102, 102, 102); font-weight: 500; letter-spacing: 1px;">
                                                Madan Ghodechor | madan.taxivaxi&#64;gmail.com | 9309804106 </p>
                                        </div>
                                        <div class="col-12 tables">
                                            <table class="table" style="border-right: 1px dotted rgb(79, 79, 79);">
                                                <tr>
                                                    <td>BOOKING ID</td>
                                                    <td>FLZ000145</td>
                                                </tr>
                                                <tr>
                                                    <td>PICKUP LOCATION</td>
                                                    <td>Yash Orchid Society, Baner, Pune, Maharashtra, India</td>
                                                </tr>
                                                <tr>
                                                    <td>PICKUP DATE TIME</td>
                                                    <td>Mon, 09 Sep 2024 03:00 PM</td>
                                                </tr>
                                            </table>
                                            <table class="table">
                                                <tr>
                                                    <td>BOOKING ID</td>
                                                    <td>FLZ000145</td>
                                                </tr>
                                                <tr>
                                                    <td>PICKUP LOCATION</td>
                                                    <td>Yash Orchid Society, Baner, Pune, Maharashtra, India</td>
                                                </tr>
                                                <tr>
                                                    <td>PICKUP DATE TIME</td>
                                                    <td>Mon, 09 Sep 2024 03:00 PM</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12">
                                            <p class="fs-6 pt-3 m-0"
                                                style="color: rgb(102, 102, 102); font-weight: 500; letter-spacing: 1px;">
                                                Note </p>
                                            <ul style="font-size: 13px;">
                                                <li> <a href=""
                                                        style="text-decoration: none; font-weight: 500; color: rgb(23, 53, 154);">Terms
                                                        and Conditions</a> shall apply for extra usage</li>
                                                <li> Extras to be paid to the Driver</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom right corner"></div>
                            <div class="bottom left corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<br><br>